
\section{Preliminary Design Parameters}

\subsection{Lightship Displacement} \label{sec:prelim:dls}

Lightship condition, \Zdls, is the ``shipping weight", i.e. the
weight of the boat without fuel, water, stores, people, etc. We obtain
the initial value for the lightship displacement from the Blount
formula (adjusted for units):

\begin{equation} \label{eq:blount}
  \Zd = k {\Zloa}^{2.3}, \quad k =
  \begin{cases}
    30 & \text{lightship} \\
    45 & \text{full-load}
  \end{cases}
\end{equation}

where \Zd\ is displacement (kg) and \Zloa\ is length overall (m).
Thus, we have:

[@--
  $loa = $wb{hydrostatics}{LOA};
  $dls = &p0(30 * ($loa ** (2.3)));

  undef;
--@]

\begin{align} \label{eq:dls}
  \Zdls &= 30 {\Zloa}^{2.3}
\end{align}

\subsection{Gray and Black Water Tank Capacities} \label{sec:prelim:tanks}

The tank capacities are determined by the endurance requirements and
the fresh water capacity.

\begin{align}
  \Zqgw &= 0.5 \Zqfw \label{eq:qgw} \\
  \Zqbw &= q \Znpax \Zndays \label{eq:qbw} 
\end{align}


\subsection{Trials Displacement} \label{sec:prelim:dtr}

Sea trials will be conducted with minimal fuel, two passengers, and no
water or stores other than required safety equipment. With these weights
we obtain the trials displacement:


\begin{align} \label{eq:dtr}
  \Zdtr &= \Zdls + \Zwtr
\end{align}

[@--
  $tk_fw = 20; # gal
  $tk_gw = $tk_fw / 2;

  push(@o, {
    i => "Trials displacement",
    v => [
      { s => "\\Zdls",
        d => "{eq:dtr}",
        v => 30 * $loa ** (2/3)
      }
    ]
  });

  undef;
--@]

where \Zwtr\ is the total weight of fuel, passengers, and safety equipment (kg).

\subsection{Required Horsepower} \label{sec:prelim:hp}

The maximum speed, trials displacement condition is the dominating one
for the initial power requirement estimate. The Barnaby-Levi approximation
relates speed, required horsepower, displacement, and length overall.

\begin{equation} \label{eq:barnaby}
  \Zvs = k {\Zloa}^{\frac{1}{4}} \sqrt{\frac{\Zshp}{\Zd}}, \quad k =
  \begin{cases}
    1.4 & \text{four conventional shafts} \\
    1.5 & \text{two conventional shafts} \\
    1.6 & \text{standard stern drives} \\
    1.8 & \text{racing stern drives}
  \end{cases}
\end{equation}

where \Zvs\ is boat speed (kt), \Zloa\ is length overall (ft), \Zd\ is
displacement (lt), and \Zshp\ is shaft horsepower (hp). Adding a conversion
factor for units and rearranging \eqref{eq:barnaby} we obtain an equation
for \Zshp.

[@--
  $vs_max  = $wb{requirements}{Vs_max};
  $k   = 1.5;
  $shp = &p0($dtr * ($vs_max ** 2) / 
            ($wb{requirements}{barnaby_k} ** 2 * sqrt($loa)) *
            (2.2 / 2240 / sqrt(3.28)));
  $bhp = &p0($shp / .97);

  undef;
--@]

\begin{align} \label{eq:shp}
  \Zshp &= \frac{\Zdtr {\Zvs}^2}{{k}^2 \sqrt{\Zloa}}
            \left(\frac{2.2}{2240 \sqrt{3.28}}\right)
\end{align}

where \Zdtr\ is in \unit{kg} and \Zloa\ is in \unit{m}. Shaft horsepower
is approximately 97\% of brake horsepower. Therefore we have:

\begin{align} \label{eq:bhp}
  \Zbhp &= \frac{\Zshp}{.97}
\end{align}

\subsection{Fuel Capacity} \label{sec:prelim:qfo}

Fuel capacity is determined by the maximum range requirement at a given
load condition, \Zdc. First, the displacement of the vessel, minus fuel,
is calculated by adding known weights to the lightship displacement
obtained from \eqref{eq:dls}. Then we have:

\begin{align}
  \Zdh &= \Zdls + \Zwh \label{eq:dh}\\
  \Zdc &= \Zdh + 3.8 \cdot S \cdot Q \label{eq:dc}
\end{align}

where \Zwh\ is the additional weight (\unit{kg}), $Q$ is the fuel load
(\unit{gal}) and $S$ is the specific gravity of the fuel oil.

The rate at which fuel is consumed (\sfrac{gal}{nm}) is given by:

\begin{equation} \label{eq:dqdr}
  \frac{dQ}{dr} = - \frac{c}{\Zvs} \Zshp 
\end{equation}

where $r$ is distance run (\unit{nm}), $c$ is fuel consumption rate
(\unitfrac{gal}{{hp} $\cdot$ {hr}}), \Zshp\ is shaft horsepower (\unit{hp}),
and \Zvs\ is boat speed (\unit{kt}).

Inserting \eqref{eq:shp} into \eqref{eq:dqdr} we have:

\begin{equation} \label{eq:dqdrHp}
  \frac{dQ}{dr} = -{} \left[\frac{c \Zvs}{k^2 \sqrt{L}}
                    \left(\frac{2.2}{2240 \sqrt{3.28}}\right) \right] \Zdc
\end{equation}

For the purposes of range and fuel capacity we hold \Zvs\ constant in
\eqref{eq:dqdrHp}, and collect all the constants into \Zo. Decomposing
\Zdc\ we have:

\begin{align} \label{eq:dqdrfin}
  \frac{dQ}{dr} &= -\Zo \Zdc \nonumber\\
    &= -\Zo \left( \Zdh + 3.8 S \cdot Q(r) \right) \nonumber\\
    &= -\Zo \Zdh - 3.8 S \cdot \Zo \cdot Q(r)
\end{align}

Let $\Ze = 3.8 S \Zo$. Then, we have:

\begin{equation} \label{eq:dqdrfin}
  \frac{dQ}{dr} + \Ze Q(r) + \Zo \Zdh = 0
\end{equation}

The solution to \eqref{eq:dqdrfin} is given by:

\begin{equation} \label{eq:dqdrsolved}
  Q(r) = \Zqzero e^{-\Ze r} + \Zdh \frac{\Zo}{\Ze} \left[e^{-\Ze r} - 1 \right]
\end{equation}

where \Zqzero\ is the fuel load (gal) at $r = 0$. Since $Q(r) = 0$ at
maximum range we can solve for \Zqzero, obtaining:

\begin{equation} \label{eq:q0}
  Q(R) = 0 \implies \Zqzero = \Zdh \frac{\Zo}{\Ze} \left[e^{\Ze R} - 1 \right]
\end{equation}

where $R$ is the maximum range (\unit{nm}).

This, however, does not account for the weight of the reserve fuel or
the fuel in the unusable portion of the tank. To correct this (minor)
difference we perform a substitution in \eqref{eq:q0} as follows:

\begin{align}
  \Zdh &\rightarrow \Zdh + 3.8 S \left( \Zqre + \Zqun \right) \nonumber\\
       &\rightarrow \Zdh + 3.8 S \left( \Zxres \Zqzero + \Zqun \right) \nonumber\\
       &\rightarrow \left( \Zdh + \frac{\Ze}{\Zo} \Zqun \right) + \Zxres \frac{\Ze}{\Zo} \Zqzero
\end{align}

where \Zxres\ is the reserve factor and \Zqun\ is the unsuable fuel volume
(\unit{gal}). Then we have:

\begin{align} \label{eq:q02}
  \Zqzero &= \left( \Zdh \frac{\Zo}{\Ze} + \Zqun \right) \left[ \frac{e^{\Ze R} - 1}{1 - \Zxres \left( e^{\Ze r} - 1 \right)} \right]
\end{align}

The actual fuel tank capacity, \Zqfo, is the fuel required to reach the maximum
range (including reserve), \Zqzero, plus the unusable volume of fuel. Thus,
we have:

\begin{equation} \label{eq:qfo}
  \Zqfo = \Zqzero + \Zqun
\end{equation}

With a value for \Zqfo\ we can derive the load condition displacement
\Zdc\ from \eqref{eq:dc}. The load condiditon displacement is therefore
given by:

\begin{equation} \label{eq:dc2}
  \Zdc = \Zdh + 3.8 \cdot S \cdot \Zqfo
\end{equation}

\subsection{Full-Load Displacement} \label{sec:prelim:df}

Full-load condition is calculated by adding to the light ship displacement 
the weight of people, fuel, water, stores, etc. as they would be loaded at
departure under normal operating circumstances.

\begin{equation} \label{eq:df}
  \Zdf = \Zdls + \Zwf + \Zqfo
\end{equation}

where \Zwf\ is the added weight for this load condition.

\subsection{Projected Chine Area} \label{sec:prelim:ap}

The initial value for projected chine area is determined by the target
chine loading factor at full-load displacement, using the following
equation:

\begin{equation} \label{eq:chineloading}
  \frac{\Zap}{{\Zvfl}^{\frac{2}{3}}} =
  \begin{cases}
    5.2 & \text{minimum (except new construction)} \\
    5.5 & \text{minimum for new construction} \\
    6.0 & \text{recommended value} \\
  \end{cases}
\end{equation}

where \Zap\ is projected chine area (m$^2$) and \Zvfl\ is volume
at full-load condition (m$^3$). For new construction we choose the
recommended value for $k$ and solve for \Zap, obtaining:

\begin{align} \label{eq:ap}
  \Zap &= 6.0 {\Zvfl}^{\frac{2}{3}} \nonumber\\
       &= 6.0 \left( \frac{\Zdf}{\Zrhosw} \right)^{\frac{2}{3}}
\end{align}

where \Zrhosw\ is the density of salt water (\unitfrac{kg}{m$^3$}).

\subsection{Longitudinal Center of Gravity} \label{sec:prelim:lcg}

The target \Zlcg\ is derived from a parameteric study by Don Blount;
a graph relating \Zlcg\ to speed-length ratio $\sfrac{S}{L}$.

\subsection{Center of Projected Chine Area} \label{sec:prelim:cap}

The longitudinal centroid of the projected chine area, \Zcap, is
determined by stability considerations, which require that the
longitudinal separation between the \Zcap\ and \Zlcg\ be no less
than 5\% of the chine length, \Zlp, with \Zcap\ forward of \Zlcg.
That is to say:

\begin{align}
  \Zcap &\leq \Zlcg - .05 \Zlp \nonumber\\
        &= \Zlcg - .05 \left( .9 \Zloa \right) \label{eq:cap}
\end{align}

where we estimate \Zlp\ at 90\% of \Zloa.

\clearpage

[@--
  $t    = $wb{requirements}{load}{trials};
  $t2   = $wb{tanks};
  $SGfo = $wb{const}{SGfo};
  $fo   = $wb{requirements}{trialsfo};

  $dls    = &p0(30 * ($loa)**(2.3));

  $qfw    = &p0($wb{requirements}{fw});

  $qgw    = &p0($qfw / 2);
  $t2->{gw} = $qgw;

  $rbw    = 1.5;
  $npax   = $wb{requirements}{load}{full}{pax};
  $ndays  = $wb{requirements}{endur};
  $qbw    = &p0($rbw * $npax * $ndays);
  $t2->{bw} = $qbw;

  unshift(@{$t->{items}}, [ "Fuel", 3.8*$SGfo*$fo ]);
  unshift(@{$t->{items}}, [ "Black water", 3.8*$SGbw*$t->{bw}*$t2->{bw} ]);
  unshift(@{$t->{items}}, [ "Gray water",  3.8*$SGgw*$t->{gw}*$t2->{gw} ]);
  unshift(@{$t->{items}}, [ "Fresh water", 3.8*$t->{fw}*$t2->{fw} ]);
  unshift(@{$t->{items}}, [ "People (".$t->{pax}.")", 80*$t->{pax} ]);
  
  $j = 0;
  foreach (@{$t->{items}}) {
    $_->[1] = &p0($_->[1]);
    $j += $_->[1];
  }

  $wtr = $j;
  $dtr = $dls + $wtr;

  $t = $wb{requirements}{load}{range};
  $t2= $wb{tanks};
  $SGbw = $wb{const}{SGbw};
  $SGgw = $wb{const}{SGgw};

  unshift(@{$t->{items}}, [ "Black water", 3.8*$SGbw*$t->{bw}*$t2->{bw} ]);
  unshift(@{$t->{items}}, [ "Gray water",  3.8*$SGgw*$t->{gw}*$t2->{gw} ]);
  unshift(@{$t->{items}}, [ "Fresh water", 3.8*$t->{fw}*$t2->{fw} ]);
  unshift(@{$t->{items}}, [ "People (".$t->{pax}.")", 80*$t->{pax} ]);
  
  $j = 0;
  foreach (@{$t->{items}}) {
    $_->[1] = &p0($_->[1]);
    $j += $_->[1];
  }

  $wc = $j;
  $dh = $dls + $wc;

  $t = $wb{requirements}{load}{full};
  $t2= $wb{tanks};
  $SGbw = $wb{const}{SGbw};
  $SGgw = $wb{const}{SGgw};

  unshift(@{$t->{items}}, [ "Black water", 3.8*$SGbw*$t->{bw}*$t2->{bw} ]);
  unshift(@{$t->{items}}, [ "Gray water",  3.8*$SGgw*$t->{gw}*$t2->{gw} ]);
  unshift(@{$t->{items}}, [ "Fresh water", 3.8*$t->{fw}*$t2->{fw} ]);
  unshift(@{$t->{items}}, [ "People (".$t->{pax}.")", 80*$t->{pax} ]);
  
  $j = 0;
  foreach (@{$t->{items}}) {
    $_->[1] = &p0($_->[1]);
    $j += $_->[1];
  }
  $wf = $j;

  $k      = $wb{requirements}{barnaby_k};
  $vs_max = $wb{requirements}{Vs_max};
  $shp    = &p0($dtr * $vs_max ** 2 / $k ** 2 / sqrt($loa) * 
                  (2.2 / 2240 / sqrt(3.28)));
  $bhp    = &p0($shp / .97);

  $dcname = $wb{requirements}{load}{range}{name};

  $vs_cru = $wb{requirements}{Vs_cru};
  $c      = $wb{requirements}{fuel_cons};
  $qun    = $wb{requirements}{qun};
  $xres   = $wb{requirements}{reserve};
  $R      = $wb{requirements}{range};

  $omega  = $c * $vs_cru / $k ** 2 / sqrt($loa) * 2.2 / 2240 / sqrt(3.28);
  $epsilon= 3.8 * $SGfo * $omega;

  $q0_lh  = $dh * $omega / $epsilon + $qun;
  $q0_rh  = (exp($epsilon * $R) - 1) / (1 - $xres * (exp($epsilon * $R) - 1));
  $q0     = &p0($q0_lh * $q0_rh);

  $q0     = $omega * $dh / ((.8 / $R) - $epsilon);
  $qfo    = &p0($q0 + $qun);

  $rhosw  = 1025; # kg / m^3
  $ap     = 6.0 * ($df ** (2/3));

  $dc     = &p0($dls + $wc + $qfo);

  $df     = &p0($dls + $wf + $qfo);

  $lcg    = &p3(6);

  $lp     = &p3(.9 * $loa);
  $cap    = &p3($lcg + .05 * $lp);

  @tb = ();

  foreach (keys(%{$wb{requirements}{load}})) {
    my %t  = %{$wb{requirements}{load}{$_}};
    my %t2 = %{$wb{tanks}};
    my @tmp = ();

    push(@tmp, [ "Added weight, ".$t{name}." condition\n"]);

    foreach (@{$t{items}}) {
      push(@tmp, [ "", $_->[0], "", $_->[1], ["kg"] ]);
    }

    my $j = 0;
    map { if ($_->[3] > 0) { $j += $_->[3] } } @tmp;

    push(@tmp, [ $t{symb}, "Added weight, ".$t{name}, "", &p0($j), ["kg"] ]);

    push(@tb, @tmp);
  }

  push(@tb, (
    [ ":dls" ],
    [ "\\Zloa", "Length overall", "Requirements", $loa, ["m"] ],
    [ "\\Zdls", "Displ, light ship", ":dls", $dls, ["kg"] ],
    [ ":tanks" ],
    [ "\\Zqfw", "Capacity, F.W.", "Requirements", $qfw, ["gal"] ],
    [ "\\Zqgw", "Capacity, G.W.", ":qgw", $qgw, ["gal"] ],
    [ "\$q\$", "Black water rate", "Approx", $rbw, ["\$\\frac{\\text{gal}}{\\text{pax} \\cdot \\text{day}}\$"] ],
    [ "\\Znpax", "Number of people", "Requirements", $npax, ["pax"] ],
    [ "\\Zndays", "Number of days", "Requirements", $ndays, ["day"] ],
    [ "\\Zqbw", "Capacity, B.W.", ":qbw", $qbw, ["gal"] ],
    [ ":dtr" ],
    [ "\\Zwtr", "Added weight", "Table 1", $wtr, ["kg"] ],
    [ "\\Zdtr", "Displ, trials", ":dtr", $dtr, ["kg"] ],
    [ ":hp" ],
    [ "k", "Constant", ":barnaby", $k, [""] ],
    [ "\\Zvmax", "Speed, trials", "Requirements", $vs_max, ["kt"] ],
    [ "\\Zshp", "Shaft horsepower", ":shp", $shp, ["hp"] ],
    [ "\\Zbhp", "Brake horsepower", ":bhp", $bhp, ["hp"] ],
    [ ":qfo" ],
    [ "\\Zwc", "Added weight", "Table 2", $wc, ["kg"] ],
    [ "\\Zdh", "Displ, ".$dcname." (no fuel)", ":dh", $dh, ["kg"] ],
    [ "\\Zqun", "Fuel (unusable)", "Approx", $qun, ["gal"] ],
    [ "\\Zxres", "Fuel reserve factor", "Requirements", $xres, [""] ],
    [ "\$c\$", "Fuel consumption rate", "Approx", $c, 
      ["\$\\frac{\\text{gal}}{\\text{hp} \\cdot \\text{hr}}\$"] ],
    [ "\$R\$", "Range", "Requirement", $R, ["nm"] ],
    [ "\\Zvcru", "Speed, cruising", "Requirement", $vs_cru, ["kt"] ],
    [ "\\Zqzero", "Fuel capacity (usable)", ":q02", $q0, ["gal"] ],
    [ "\\Zqfo", "Fuel capacity (tank)", ":qfo", $qfo, ["gal"] ],
    [ "\\Zdc", "Displacement, $dcname", ":dc2", $dc, ["kg"] ],
    [ ":df" ],
    [ "\\Zwf", "Added weight", "Table 3", $wf, ["kg"] ],
    [ "\\Zdf", "Displacement, full-load", ":df", $df, ["kg"] ],
    [ ":ap" ],
    [ "\\Zap", "Projected chine area", ":ap", $ap, ["m\$^2\$"] ],
    [ ":lcg" ],
    [ "\\Zlcg", "Long'l center of gravity", "Blount parametrics", $lcg, ["m"] ],
    [ ":cap" ],
    [ "\\Zlp", "Chine length", ":cap", $lp, ["m"] ],
    [ "\\Zcap", "Long'l center of \\Zap", ":cap", $cap, ["m"] ],
  ));

  undef;
--@]

\begin{center}
  \begin{longtable}{| p{.75cm} p{4.5cm} p{2.5cm} r p{1cm} | }
    \caption[Preliminary design calculations]{Preliminary design calculations} \label{tab:prelim:calcs} \\
    \hline 
    \multicolumn{1}{|l}{\textbf{Sym.}} & 
        \multicolumn{1}{l}{\textbf{Description}} & 
        \multicolumn{1}{l}{\textbf{From}} & 
        \multicolumn{1}{r}{\textbf{Value}} & 
        \multicolumn{1}{l|}{\textbf{Unit}} \\
    \hline
    \endfirsthead

    \multicolumn{5}{c}%
    {{\bfseries \tablename\ \thetable{} -- continued from previous page}} \\
    \hline
    \multicolumn{1}{|l}{\textbf{Sym.}} & 
        \multicolumn{1}{l}{\textbf{Description}} & 
        \multicolumn{1}{l}{\textbf{From}} & 
        \multicolumn{1}{r}{\textbf{Value}} & 
        \multicolumn{1}{l|}{\textbf{Unit}} \\
    \hline
    \endhead

    \hline
    \multicolumn{5}{|r|}{{Continued on next page}} \\
    \hline
    \endfoot

    \hline
    \hline
    \endlastfoot

[@--
  $i = "";
  foreach (@tb) {
    @_ = @{$_};
    if ($#{_} == 0) {
      $i .= " & & & & \\\\\n";
      $i .= "\\multicolumn{5}{| l |}{\\bfseries{".($_[0] =~ /^:/ ? "\\ref{sec:prelim".$_[0]."} \\nameref{sec:prelim".$_[0]."}" : $_[0])."}} \\\\\n";
      $i .= "\\hline\n";
    } else {
      my $j = ($_[2] =~ /^:/ ? "Equation \\eqref{eq".$_[2]."}" : $_[2]);
      my @k = @{$_[4]};
      my $k = ($#k > 0 ? "frac" : "")."{".(join("}{", @k))."}";
      $i .= $_[0]." \& ".$_[1]." \& $j \& ".$_[3]." \& \\unit$k \\\\\n";
    }
  }

  $i;
--@]

  \end{longtable}
\end{center}

\clearpage
